@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  justify-content: center;
  font-family: 'Lato', sans-serif;
  color: rgb(16, 25, 53);
}

::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: rgb(100, 35, 156);
  border-radius: 30px;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(49, 24, 71);
  opacity: 0.1;
  text-align: center;
}

.bxs-user {
  font-size: 1.5rem;
  color: rgb(236, 64, 103);
  margin-right: 1.5rem;
}

.bxs-star:nth-of-type(2) {
  color: rgb(245, 13, 67);
  font-size: 4.5rem;
}

button {
  border: none;
  padding: 0.6em 2em;
  border-radius: 4px;
  color: white;
  display: block;
  cursor: pointer;
  background-color: rgb(236, 64, 103);
  transition: 0.5s ease-in-out;
}

button:hover {
  background-color: rgba(236, 64, 104, 0.562);
}

button:active {
  background-color: rgba(236, 64, 104);
  transform: scale(1.09);
}

.flex {
  display: flex;
}

.border-radius {
  border-radius: 8px;
}

.container {
  width: 100%;
  max-width: 1020px;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  padding: 1em 2em 0;
}

.score-container {
  flex-direction: column;
}

.score-placeholder {
  max-width: 100%;
  margin-top: 1.5rem;
  background-color: rgb(255, 255, 255);
  padding: 0.3em 0.2em;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
}

.score-header {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  background-color: rgb(49, 24, 71);
  color: white;
  padding: 0.6em 1em;
}

.score-display {
  width: 100%;
  padding: 0 0.2em;
  overflow-y: auto;
  max-height: 600px;
}

.score-line {
  justify-content: space-between;
  margin-bottom: 0.5rem;
  background-color: rgba(169, 162, 179, 0.438);
  border: 1px solid rgba(61, 60, 60, 0.281);
  padding: 0.5em 1em;
  color: rgb(9, 3, 17);
}

.score-line:nth-child(even) {
  background-color: rgba(169, 162, 179, 0.178);
}

.notif {
  font-size: 2rem;
  color: rgba(22, 21, 21, 0.342);
  text-align: center;
  padding: 0 0.5em 1em;
  font-weight: 700;
}

form {
  margin-top: 1rem;
  order: -1;
  padding: 1em;
}

form h2 {
  margin-bottom: 1rem;
  align-self: flex-start;
}

form input {
  width: 100%;
  border: 1px solid rgba(94, 49, 158, 0.795);
  max-width: 400px;
  padding: 0.7em 1em;
  border-radius: 20px;
  margin-bottom: 1rem;
}

form input:focus {
  outline: none;
  transform: scale(1.05);
}

.modal {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(58, 47, 66, 0.11);
  padding: 1em;
  transition: all 0.5s ease-in-out;
}

.modal.hidden {
  display: none;
}

.modal-content {
  width: 100%;
  max-width: 400px;
  height: 200px;
  align-items: center;
  padding: 1em 1.2em;
  background-color: #fff;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  transform: scale(0);
  transition: transform 1s ease-in-out;
}

.modal-content.active {
  transform: scale(1);
}

.modal-content p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.modal-info {
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.modal-img {
  width: 320px;
  height: 130px;
  background: url('./asset/images.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1rem;
}

.modal-content #close {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
    margin-bottom: 4rem;
    padding-top: 0.5em;
  }

  .score-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .score-placeholder {
    margin-top: 0;
    width: 55%;
  }

  form {
    margin: 0 0 0 2rem;
    width: 450px;
    order: 1;
  }

  .notif {
    font-size: 2.5rem;
    padding: 1em 0 1em;
  }

  .bxs-star:nth-of-type(2) {
    font-size: 5.5rem;
  }
}
